.task {
  --adsgram-task-font-size: 16px;
  --adsgram-task-icon-size: 50px;
  --adsgram-task-icon-title-gap: 15px;
  --adsgram-task-icon-border-radius: 8px;
  --adsgram-task-button-width: 60px;
  display: block;
  width: 92%;
  padding: 8px 16px 8px 8px;
  border-radius: 12px;
  background-color: rgba(0, 198, 255, 0.05);
  font-family: Roboto;
  color: white;
}

.reward {
  color: #98d974;
  margin: 0;
}

.reward1 {
  color: #98d974;
  margin: 0;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  font-family: 'monospace';
  padding: 6px 12px;
  border-radius: 8px;
  background-color: rgba(110, 211, 255, 0.1);
  color: #6ed3ff;
 
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: rgba(110, 211, 255, 0.2);
}

.button_done {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 50px;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  color: grey;
} 